.task {
    width: 710px;
    text-align: left;
    padding: 12px 7px;
    margin-bottom: 0px;
  }
  
  .tasks {
    background-color: #869eff21;
    /* border-bottom: 1px solid black; */
    margin-bottom: 12px;
    border-radius: 5px;
  }
  
  .task.done {
    text-decoration: line-through;
  }
  
  .tasks.done {
    background-color: #92ffb30d;
  }
  
  @media only screen and (max-width: 850px) {
    .task {
      width: 100%;
    }
    .tasks {
      width: 81.5%;
    }
  }
  
  @media only screen and (max-width: 450px) {
    .task {
      width: 100%;
    }
    .tasks {
      width: 100%;
    }
  }
  