@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Karla", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 90%;
  margin-right: auto;
  margin-left: auto;
  padding: 1rem;
}

h1 {
  margin: 1rem 0;
}

.body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
footer {
  margin-top: auto;
}

a {
  text-decoration: none;
  color: grey;
  display: inline-block;
  padding-bottom: 10px;
}
a:hover {
  color: #283b8b;
}

h5 {
  padding-bottom: 10px;
}

.textbar{
  width: 100%;
  padding: 7px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: solid rgb(134, 134, 134) 1px;
}

.button{
  width: 100%;
  padding: 7px;
  background-color: #283b8b;
  color: white;
  border: none;
  border-radius: 5px;
}